/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
  }
  header{
    text-align: center;
    background-color: #ff5722;
    color: white;
    padding: 10px;;
  }
  header nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  article{
    background-color: white;
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
  }
  article img{
    border-radius: 10px;
    margin: 10px;
  }
  footer{
    background-color: black;
    padding: 20px;
    text-align: center;
  }
  main h2{
    text-align: center;
  }


/*essa tag serve como uma nova configuração de css, para quando a página atingir o tamanho especificado na própria tag. no exemplo, quando a tag atingir o tamanho de 600px
min = ter no mínimo o tamanho especificado
max = ter no máximo o tamanho especificado
para dispositivos muito pequenos*/
@media (max-width:600px){

}

/*para dospositivos pequenos*/
@media (min-width:600px){

}

/*para dospositivos médios*/
@media (min-width:768px){

}

/*para dospositivos grandes*/
@media (min-width:922px){

}

/*para dospositivos muito grandes*/
@media (min-width:1200px){

}

/*nesse exemplo, além de específicar um tamanho mínimo de tela para aplicar as modificações do css, ele agrega outra especificação que é o modo de tela, se paisagem ou retrato (no exemplo :retrato)*/
@media (min-width:1200px) and (orientation:portrait){

}